[gerrit]
	basePath = git
	serverId = 1df99e59-8309-4b44-9c4e-2419fe5a8955
	canonicalWebUrl = http://{{ target_host }}/gerrit/
[database]
	type = postgresql
	hostname = localhost
	database = {{ gerrit_db_name }}
	username = {{ gerrit_db_user }}
[auth]
	type = LDAP
[ldap]
	#TEST LDAP
	server = ldaps://***.net/
	username = cn=*,ou=*,o=*
	accountBase = ou=*,ou=*,o=*
	groupBase = ou=*,ou=*,o=*
	accountScope = sub
	groupScope = sub
	groupPattern = (cn=${groupname})
	groupMemberPattern = (&(objectClass=groupOfUniqueNames)(uniqueMember=${dn}))
	referral = follow
	sslVerify = false
	groupsVisibleToAll = true
[receive]
	enableSignedPush = false
[sendemail]
	smtpServer = *
	smtpServerPort = 25
	from = *
	connectTimeout = 20000
	threadPoolSize = 3
[container]
	user = gerrit
	javaHome = /gerrit/jre
[sshd]
	listenAddress = testgerrit:29418
[httpd]
	#listenUrl = http://testgerrit:8080/
	listenUrl = proxy-https://testgerrit:8080/gerrit/
[cache]
	directory = cache
[plugins]
	allowRemoteAdmin = true
#[lfs]
#	 plugin = lfs
#[gitweb]
#	type = gitweb
#	cgi = {{ gitweb_cgi_path }}
#	linkname = GitWeb
